

#submit {
	margin: 20px;
}

img {
	max-width: 100%

}

.card {
	text-shadow: 1px 1px 1px 3px;
}

::-webkit-input-placeholder {
   text-align: center;
}

h2 {
    
    margin: 20px;
    text-shadow: 2px 2px 2px 2px;
}